<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flowchart</title>
    <meta name="description" content="交互式流程图设计器"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css"
          href="{{ url('static', filename='layui/css/layui.css') }}"/>
    <link href="http://gojs.net.cn/extensions/DataInspector.css" rel="stylesheet" type="text/css">
    <script src="http://gojs.net.cn/extensions/DataInspector.js"></script>
    <script type="text/javascript" src="{{ url('static', filename='win10/js/jquery-2.2.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ url('static', filename='gojs/gojs.all.js') }}"></script>
    <script type="text/javascript" src="{{ url('static', filename='custom/soft/workflow.js') }}"></script>

</head>
<body>
<div class="layui-fluid pitaya-layui-fluid">

    <div class="layui-card pitaya-layui-card">

        <header class="layui-card-header pitaya-layui-card-header">

            {#            <button class="layui-btn layui-btn-sm pitaya-btn layui-btn-normal" id="saveButton">保存画布</button>#}
            {#            <button class="layui-btn layui-btn-sm pitaya-btn layui-btn-normal" id="loadButton">加载数据</button>#}
            <button class="layui-btn layui-btn-sm pitaya-btn layui-btn-normal" id="runButton">运行模型</button>
        </header>

        <section class="layui-card-body pitaya-card-body">

            <div class="layui-col-md3 layui-col-lg2 pitaya-card-left">
                <div class="layui-card pitaya-left-tree">
                    {#                    <div class="layui-card-header pitaya-layui-card-header  pitaya-title" title="工具栏">#}
                    {#                        工具栏#}
                    {#                    </div>#}
                    <div class="layui-card-body pitaya-card-body">
                        <div id="myPaletteDiv"
                             style=" overflow: hidden; height: 650px;width: 200px; margin-right: 2px; background-color: whitesmoke; border: solid 1px black"></div>
                    </div>
                </div>
            </div>

            <div class="layui-col-md9 layui-col-lg10 pitaya-card-right">
                <div class="layui-card pitaya-full">
                    {#                    <div class="layui-card-header pitaya-layui-card-header  pitaya-title">#}
                    {#                        我是画布名称#}
                    {#                    </div>#}
                    <div class="layui-card-body pitaya-card-table pitaya-defined-padding">
                        <div id="myDiagramDiv"
                             style="flex-grow: 1;position: relative; overflow: hidden; height: 650px; border: solid 1px black"></div>
                    </div>
                </div>
            </div>


        </section>
        <div id="myInspectorDiv" class="inspector" style="position:fixed;top:50px; right:40px; z-index: 9999">

        </div>

        <div id="myInspectorDiv2" class="inspector"
             style="position:fixed; overflow:scroll; padding: 10px; width:500px; height:300px; bottom:10px; right:40px; z-index: 9999">

        </div>


        {#        <textarea id="mySavedModel" style="width:100%;height:300px;display: none;">#}
        {#        </textarea>#}

    </div>

</div>
</body>
<script type="text/javascript" src="{{ url('static', filename='win10/js/jquery-2.2.4.min.js') }}"></script>
<script type="text/javascript" src="{{ url('static', filename='ansi_up.js') }}"></script>
<script type="text/javascript">





</script>
</html>
