<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>layout 后台大布局 - Layui</title>
  <link rel="stylesheet" type="text/css"
  href="{{ url('static', filename='layui/css/layui.css') }}" />
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">layui 后台布局</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <!-- <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a href="">控制台</a></li>
      <li class="layui-nav-item"><a href="">商品管理</a></li>
      <li class="layui-nav-item"><a href="">用户</a></li>
      <li class="layui-nav-item">
        <a href="javascript:;">其它系统</a>
        <dl class="layui-nav-child">
          <dd><a href="">邮件管理</a></dd>
          <dd><a href="">消息管理</a></dd>
          <dd><a href="">授权管理</a></dd>
        </dl>
      </li>
    </ul> -->
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
          贤心
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
          <dd><a href="">退出</a></dd>
        </dl>
      </li>
    
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">所有商品</a>
          <dl class="layui-nav-child">
            <dd><a href="/game/servers_list">服务器列表</a></dd>
            <dd><a href="/game/workflow">数据库列表</a></dd>
          </dl>
        </li>
<!--        <li class="layui-nav-item">-->
<!--          <a href="javascript:;">解决方案</a>-->
<!--          <dl class="layui-nav-child">-->
<!--            <dd><a href="javascript:;">列表一</a></dd>-->
<!--            <dd><a href="javascript:;">列表二</a></dd>-->
<!--            <dd><a href="/cmdb/database_list">超链接</a></dd>-->
<!--          </dl>-->
<!--        </li>-->

      </ul>
    </div>
  </div>
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">

        <ul id="dcDemo" style="display:none;">
          <li field="id" title="id" edit="text" layVerify="number"></li>
          <li field="name" title="姓名" edit="text"></li>
          <li field="sex" title="性别" edit="select" templet="#selectSex"></li>
          <li field="birthday" title="出生日期" edit="date"></li>
          <li field="phone" title="手机号码" edit="text" layVerify="phone"></li>
          <li field="email" title="邮箱" edit="text" layVerify="email"></li>
        </ul>


        <table class="layui-hide" id="test" lay-filter="test"></table>

        <script type="text/html" id="toolbarDemo">
          <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
            <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
            <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
            <button class="layui-btn layui-btn-sm" lay-event="query">复杂查询</button>
          </div>
        </script>

        <script type="text/html" id="barDemo">
          <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
          <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>

    </div>
  </div>
  
  <div class="layui-footer">
    底部固定区域
  </div>
</div>
<script type="text/javascript" src="{{ url('static', filename='layui/layui.all.js') }}"></script>
<script type="text/javascript" src="{{ url('static', filename='layui_exts/dynamicCondition/dynamicCondition.js') }}"></script>
<script>
//JavaScript代码区域
layui.use('element', function(){
  var element = layui.element;
  
});


layui.config({
  base: '/static/layui_exts/dynamicCondition/' //设定扩展的Layui模块的所在目录，一般用于外部模块扩展
}).use(['table','form','dynamicCondition'], function(){
  // var table = layui.table;
  var $=layui.$, table = layui.table, form = layui.table;
var dynamicCondition = layui.dynamicCondition;



	var complexDc = dynamicCondition.create({elem:"#dcDemo" //通过容器选择器传入，也可以$("#dcDemo"),或者document.getElementById("dcDemo")
	  	,tableId:'test' //静态页面不好演示table数据表格更新
	  	,type:"complex"  //type:"simple"/"complex"
        ,requestDataType:"json"  //"array"/"json" 默认array
		//,conditionTextId:"#msg2"
		//当有多个动态条件查询实例时，定义instanceName属性可以通过dynamicCondition.getInstance(instanceName)获取对应的实例
		,instanceName:  "complexInstance"
		,queryCallBack:function(requestData){
			//$("#result2").html(JSON.stringify(requestData));
		}
	});
	//complexDc.setCondition([["name","like","张三"],["sex",null,"1"],["birthday","between","2018-01-01","2018-12-31"]]);
	//$("#result2").html(JSON.stringify(complexDc.buildRequestData()));



  table.render({
    elem: '#test'
    ,url:'/cmdb/servers_list_data'
    ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
    ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
      title: '提示'
      ,layEvent: 'LAYTABLE_TIPS'
      ,icon: 'layui-icon-tips'
    }]
    ,title: '用户数据表'
    ,cols: [[
      {type: 'checkbox', fixed: 'left'}
      ,{field:'game', title:'游戏', width:80, fixed: 'left', unresize: true, sort: true}
      ,{field:'cluster', title:'集群', width:120, edit: 'text'}
      ,{field:'module', title:'模块', width:120, edit: 'text', sort: true}
      ,{field:'public_ip', title:'公网', width:120}
      ,{field:'inner_ip', title:'内网',width:120}
      ,{field:'server_sn', title:'SN',width:120}

      ,{field:'yun', title:'云厂家', width:80, sort: true}
      ,{field:'region', title:'域区', width:120}
      ,{field:'is_manage', title:'邮箱', width:150, edit: 'text', templet: function(res){

        if (res.is_manage == 1){

           return '<em>管理中</em>'
        }
        return '<em>未管理</em>'
      }}
      ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
    ]]
    ,page: true
  });
  
  //头工具栏事件
  table.on('toolbar(test)', function(obj){
    var checkStatus = table.checkStatus(obj.config.id);
    switch(obj.event){
      case 'getCheckData':
        var data = checkStatus.data;
        layer.alert(JSON.stringify(data));
      break;
      case 'getCheckLength':
        var data = checkStatus.data;
        layer.msg('选中了：'+ data.length + ' 个');
      break;
      case 'isAll':
        layer.msg(checkStatus.isAll ? '全选': '未全选');
      break;
      case 'query':
        dynamicCondition.getInstance("complexInstance").open();
      break;
      //自定义头工具栏右侧图标 - 提示
      case 'LAYTABLE_TIPS':
        layer.alert('这是工具栏右侧自定义的一个图标按钮');
      break;
    };
  });
  
  //监听行工具事件
  table.on('tool(test)', function(obj){
    var data = obj.data;
    //console.log(obj)
    if(obj.event === 'del'){
      layer.confirm('真的删除行么', function(index){
        obj.del();
        layer.close(index);
      });
    } else if(obj.event === 'edit'){
      layer.prompt({
        formType: 2
        ,value: data.email
      }, function(value, index){
        obj.update({
          email: value
        });
        layer.close(index);
      });
    }
  });
});

</script>
</body>
</html>